
#wayixia-overlay {
  position: fixed; 
  left: 0px; 
  top: 0px; 
  right: 0px; 
  bottom: 0px; 
  opacity: 0.95; 
  /*background: rgb(242, 242, 242); */
  background: #FFF;
}

#wayixia-title-bar {
  position: fixed; 
  left: 0px; 
  top: 0px; 
  right: 0px; 
  height: 38px; 
  line-height: 38px; 
  z-index: 999999999999991; 
  color: #EEE; 
  text-indent: 10px; 
  cursor: default; 
  text-align: left;
  font-family: 'Segoe UI', Arial, 'Microsoft Yahei', Simsun, sans-serif; 
  text-shadow: 1px 1px #000; 
  font-size: 22px; 
  background: rgb(45, 45, 45);
}

#wayixia-title-bar #wayixia-btn-close {
  float: right;
  text-align: center;
  text-indent:0;
  padding: 0 10px;
  font-weight: bold;
  line-height: 45px;
  background: transparent;
}

#wayixia-title-bar #wayixia-btn-close img {
  margin:7px;
}

#wayixia-title-bar a {
  color: #999;
  text-decoration: none;
}

a#wayixia-qq {
  float: right;
  color: red;
  line-height: 30px;
  height: 30px;
  margin: 10px;
}




#wayixia-container, #wayixia-container * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

#wayixia-container {
	font-family: arial, 'helvetica neue', sans-serif;
	position: absolute;
	z-index: 999999999999989;
	top: 80;
	left: 0;
  right: 0;
  bottom: 0;
	background-color: #FFF;
	opacity: 1;
	hasLayout: -1;
  overflow:auto;
}

#wayixia-toolbar, #wayixia-toolbar-screenshot {
  position:fixed;
  top: 34px;
  left: 0px;
  right: 0px;
  height: 45px;
  background: #F8F8F8;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3)

}

#wayixia-toolbar a, #wayixia-toolbar-screenshot a {
  font-size: 16px;
  color: #000;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  margin-left: 10px;
  display:inline-block;
}

.wayixia-box {
	position: relative;
	padding: 0;
	margin: 5;
	float: left;
/*	border: solid #e7e7e7;
	border-width: 0 1px 1px 0;
*/
	height: 200px;
	width: 200px;
	opacity: 1;
	z-index: 10002;
	text-align: center;
	overflow: hidden;

	margin:15px 0px 0 15px;
	background:#FFF;
	/*
  border:0px solid #DDD;
	border-radius:5px;
	*/
  text-align:center;
  box-shadow:0 1px 5px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 5px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 5px rgba(0,0,0,.3) 
}

.wayixia-info
{
	position:absolute;
	right:0;
	bottom:0;
	border-top-left-radius:5px;
	background-color:#333;
	padding:2px 4px 0;
	color:#FFF;
	opacity: 0.8;
	z-index: 1;
  font-size: 14px;
}

.wayixia-box:hover
{ 
	/*border:3px solid #F90; */
}

.wayixia-box:hover .wayixia-info
{
	background-color:#333;
	color:#FFF;
}

.wayixia-box .wayixia-image {
	border: none;
	height: 200px;
	width: 200px;
	opacity: 1;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.wayixia-box .wayixia-image .image {
	max-height: 200px;
	max-width: 200px;
	/*
	width: auto !important;
	height: auto !important;
	*/
}

.wayixia-box strong.wa:hover,.wayixia-box strong.qwa:hover {
	display:block;
}

.wayixia-box strong.wa {
	width: 72px;
	left: 75px;
	background-position: -40px 0;
}

.wayixia-box strong.qwa {
	width: 24px;
	left: 52px;
	background-position: 0 0;
}

.wayixia-box strong.qwa:hover {
	background-position: 0 -50px;
}

.wayixia-box strong.wa:hover {
	background-position: -40px -50px;
}

.wayixia-box strong {
	text-indent: -9999px;
	position: absolute;
	top: 82px;
	display: none;
	height: 32px;
	background: url(wa_sprite.png) no-repeat 0 0;
}

.wayixia-box .wayixia-image a {
	text-align: center;
}

.wayixia-box .wing-box {
  display: none;
  position:absolute;
  left:10px;
  top:70px;
  right:10px;
  bottom:0px; 
  height:50px;
  border-radius:5px;
  border:1px solid #F1F1F1;
  line-height:50px;
  font-size:14px;
  font-family:arial;
  text-align:left;
}

.wayixia-box .wing-box-ing {
  display: block ;
  text-indent: 53px;
  background:#FFF url(wing32.gif) 10px center no-repeat;
}

.wayixia-box .wing-box-ok {
  display:block ;
  text-indent: 45px;
  background:#FFF url(sprite_ok.png) 20px center no-repeat;
}

.wayixia-box .wing-box-error {
  display: block;
  text-indent: 45px;
  background:#FFF url(sprite_error.png) 20px center no-repeat;
}

.wayixia-box .wing-box-warn {
  display: block;
  text-indent: 45px;
  background:#FFF url(sprite_warn.png) 20px center no-repeat;
}


.wayixia-box.mouseout, .select-mask {display:none;}

.wayixia-box.mouseover .select-mask {
  cursor: default;
  display: block;
  position:absolute;
  left:0; top:0; right:0;bottom:0;
  opacity: 0.5;
  background: #FFF url(hover-picture.png) right top no-repeat;
}

.wayixia-box.mouseselected .select-mask 
{
  cursor: default;
  display: block;
  position:absolute;
  left:0; top:0; right:0;bottom:0;
  opacity: 0.8;
  background: #FFF  url(selected-picture.png) right top no-repeat; 
  /*#CFBAAA, #FF931E*/
}


div.cache_image_1 {
  width: 0;
  height:0;
  visibility:hidden;
  background:#FFF url(wing32.gif) left top no-repeat;
}
